In [1]:
#Tuples

In [2]:
import timeit

In [3]:
#tuple with one element
timeit.timeit('(1,)')

0.024435400000129448

In [4]:
#list with one element
timeit.timeit('[1]')

0.11911959999997634

In [5]:
tuple=(1,2,3)

In [6]:
tuple.__sizeof__() #returns the result in bytes

48

In [7]:
list=[1,2,3]

In [8]:
list.__sizeof__()

104

In [9]:
tuple=(1,)

In [10]:
type(tuple)

tuple

In [11]:
mixt_tuple=([10,20],30,{'apple',40,'True'})
mixt_tuple

([10, 20], 30, {40, 'True', 'apple'})

In [12]:
mixt_tuple[2][1]

TypeError: 'set' object is not subscriptable

In [13]:
mixt_tuple

([10, 20], 30, {40, 'True', 'apple'})

In [14]:
mixt_tuple[0].append('append')
mixt_tuple

([10, 20, 'append'], 30, {40, 'True', 'apple'})

## Dictionaries

#Dictionaries: unordered collection of key-value pairs
- keys are separated from values using :
- 1 key-value pair is 1item/element. Elements are separated by comma.
- keys should be immutable objects (numbers, strings and tuples) and unique.
- values can be: numbers, strings, list, tuples

In [15]:
empty_dict={} #dict()
type(empty_dict)

dict

In [16]:
dict={1:'a'}
type(dict)

dict

In [17]:
set={1,2,3}

In [18]:
type(set)

set

In [19]:
dict1={1:'a',2:'b',3:'c','d':4,5.1:'e1'}

In [20]:
print('Dict1:', dict1,type(dict1))
# Keys:values

Dict1: {1: 'a', 2: 'b', 3: 'c', 'd': 4, 5.1: 'e1'} <class 'dict'>

In [21]:
#the keys are the indexes

In [22]:
dict1.keys()

dict_keys([1, 2, 3, 'd', 5.1])

In [23]:
dict1.values()

dict_values(['a', 'b', 'c', 4, 'e1'])

In [24]:
dict2={(35,67):78}
dict2

{(35, 67): 78}

In [25]:
d={('City','Romania'):[23,50,40,50],('City','India'):[39,69,80,60]}

In [26]:
d.keys()

dict_keys([('City', 'Romania'), ('City', 'India')])

In [28]:
#access an element
employee={'Name':'Ramesh','Age':30,'Exp':7}

In [29]:
print(employee['Name'])

Ramesh

In [30]:
#duplicated keys - keep just the last input
employee={'Name':'Sham','Age':30,'Exp':7,'Name':'Mr Sham'}
employee

{'Name': 'Mr Sham', 'Age': 30, 'Exp': 7}

In [34]:
#different value type
car={'brand':['Honda',"Renault",'Hyundai','Mercedes'],
    'Type':['Sedan','SUV'],
    'Year':2022}
print(car)

{'brand': ['Honda', 'Renault', 'Hyundai', 'Mercedes'], 'Type': ['Sedan', 'SUV'], 'Year': 2022}

In [35]:
#access elements
car.keys()

dict_keys(['brand', 'Type', 'Year'])

In [36]:
car.values()

dict_values([['Honda', 'Renault', 'Hyundai', 'Mercedes'], ['Sedan', 'SUV'], 2022])

In [37]:
car['Type'][1]

'SUV'

In [38]:
#get all the items
car.items()

dict_items([('brand', ['Honda', 'Renault', 'Hyundai', 'Mercedes']), ('Type', ['Sedan', 'SUV']), ('Year', 2022)])

In [39]:
#Add items to dict
# -if the key already exist, it will modify
# -if not, it will add it

In [40]:
employee

{'Name': 'Mr Sham', 'Age': 30, 'Exp': 7}

In [41]:
employee['Org']='Infosys'
print('After add',employee)

After add {'Name': 'Mr Sham', 'Age': 30, 'Exp': 7, 'Org': 'Infosys'}

In [42]:
employee['Age']=35
print('After add',employee)

After add {'Name': 'Mr Sham', 'Age': 35, 'Exp': 7, 'Org': 'Infosys'}

In [43]:
# adding multiple key-value pair
employee.update({'Clients':['AB','XY','CD'],'Exp':7.5})
print(employee)

{'Name': 'Mr Sham', 'Age': 35, 'Exp': 7.5, 'Org': 'Infosys', 'Clients': ['AB', 'XY', 'CD']}

In [44]:
employee['Exp']

7.5

In [45]:
#removing elements using pop
employee.pop('Clients')
print('After Remove:',employee)

After Remove: {'Name': 'Mr Sham', 'Age': 35, 'Exp': 7.5, 'Org': 'Infosys'}

In [46]:
employee.pop('Exp')

7.5

In [47]:
print(employee.popitem())

('Org', 'Infosys')

In [48]:
list=[10,40,50]

In [49]:
list[1:1]=[20,30]

In [50]:
list

[10, 20, 30, 40, 50]

#Brackets:
1. [] - square brackets:
    * create lists
    * indexing
2. () - parenthesis:
    * create tuples
    * functions/ to pass parameters
3. {} - curly brackets:
    * create dictionaries
    * create sets

## Conditional statements

In [52]:
# #if/else
# if expression:
#     statement_1
#     statement_2
#     statement_3
# else: #optional
#     statement_1
#     statement_2
#     statement_3

In [53]:
#example - check if the number is even or odd
#input from the user
no=int(input('Please enter number:'))

Please enter number:23

In [54]:
type(no)

int

In [55]:
if no%2==0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [56]:
if no%2==0:print("Even number")
else:print("Odd number")

Odd number

Example 1 - Grades
- 90&above --> A
- 75-90 --> B
- 55-75 --> C
- 35-55 --> D
- below 35 --> E
#input should be from the user

In [57]:
marks = float(input('Please enter marks : '))
if marks >=90 : grade = 'A'
elif marks >=75 : grade = 'B'
elif marks >= 55 : grade = 'C'
elif marks >= 35 : grade ='D'
else : grade = 'F'
grade

Please enter marks : 76

'B'

In [59]:
#Example 2 - Discount
#discount: if a client is a member and purchase is above 500: 25%
#if not a member and purchase is above 1000: 20%
#flat discount for others: 5%
member=input("Is the client a member? Y/N : ")
bill_amount=float(input("Amount of the bill= "))
if member=='Y' and bill_amount>=500:
    disc=0.25
elif member=='N' and bill_amount>=1000:
    disc=0.2
else:
    disc=0.05
disc

Is the client a member? Y/N : Y
Amount of the bill= 2783

0.25

In [60]:
countries=['Andorra','Australia','Austria','Belgium','Brunei','Chile','Croatia',
'Czech Republic','Denmark','Estonia','Finland','France','Germany','Greece',
'Hungary','Iceland', 'Ireland','Luxembourg','Malta','San Marino','Singapore',
'Slovakia', 'Slovenia','South Korea','Spain','Sweden','Switzerland','Taiwan',
'United Kingdom']

In [61]:
country="France"
if country in countries:
    print("Do not require visa")
else:
    print('Not in the list')

Do not require visa

## Loops: iteration statements
1. for loop: used for iterating over a sequence
2. while loop: iteration based on condition

In [72]:
#range - create a range of values and store them in the form of a collection
#range(start_value,upper_bound_value)
#upper_bound_value=envalue+1

In [73]:
x = range(10,21,3)

In [74]:
type(range(10,21,3))

range

In [75]:
#for example
print('List of countries:')
for country in countries:
    print(country)

List of countries:
Andorra
Australia
Austria
Belgium
Brunei
Chile
Croatia
Czech Republic
Denmark
Estonia
Finland
France
Germany
Greece
Hungary
Iceland
Ireland
Luxembourg
Malta
San Marino
Singapore
Slovakia
Slovenia
South Korea
Spain
Sweden
Switzerland
Taiwan
United Kingdom

In [76]:
# for example - using range
#default step=1
#default start_value=0
for x in range(6):
    print(x)

0
1
2
3
4
5

In [77]:
# break,continue
#break- we can stop the loop before it has looped through all the elements
for country in countries:
    print(country)
    if country=='Germany':
        break

Andorra
Australia
Austria
Belgium
Brunei
Chile
Croatia
Czech Republic
Denmark
Estonia
Finland
France
Germany

In [78]:
for country in countries:
    if country=='Germany':
        break
    print(country)

Andorra
Australia
Austria
Belgium
Brunei
Chile
Croatia
Czech Republic
Denmark
Estonia
Finland
France

In [79]:
#continue - we can stop the current iteration of the loop and continue with the next
for country in countries:
    if country=='Germany':
        continue
    print(country)

Andorra
Australia
Austria
Belgium
Brunei
Chile
Croatia
Czech Republic
Denmark
Estonia
Finland
France
Greece
Hungary
Iceland
Ireland
Luxembourg
Malta
San Marino
Singapore
Slovakia
Slovenia
South Korea
Spain
Sweden
Switzerland
Taiwan
United Kingdom

In [81]:
salaryList=[1000,2000,3000,4000,5000]
# #Increase the salary based on the following conditions:
# - if income <2000 --> hike 20%
# - if income is between 2000 and 4000 --> hike 10%
# - if income is greater than 4000 --> No hike

In [82]:
i=0
for sal in salaryList:
    if sal<2000:
        salaryList[i]=round(sal*1.2,1)
    elif sal<=4000:
        salaryList[i]=round(sal*1.1,1)
    else:
        salaryList[i]=round(sal,1)
    i=i+1
salaryList

[1200.0, 2200.0, 3300.0, 4400.0, 5000]

In [84]:
#print the tables of 2,3 &4
# table of 2 - print it till 4 -2*2
#table of 3 - print it till 6 - 3*2
#table of 4 - print it till 8 - 4*2

In [85]:
for j in range(2,5):
    print('\nTable of {}\n'.format(j))
    for i in range(1,11):
        if i==(j*2)+1:
            break
        print('{} X {}={}'.format(j,i,j*i))
    print('---------------------')

Table of 2

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
---------------------

Table of 3

3 X 1=3
3 X 2=6
3 X 3=9
3 X 4=12
3 X 5=15
3 X 6=18
---------------------

Table of 4

4 X 1=4
4 X 2=8
4 X 3=12
4 X 4=16
4 X 5=20
4 X 6=24
4 X 7=28
4 X 8=32
---------------------

In [86]:
#while
count=0
while count<len(countries):
    print(countries[count])
    count+=1 #count=count+1

Andorra
Australia
Austria
Belgium
Brunei
Chile
Croatia
Czech Republic
Denmark
Estonia
Finland
France
Germany
Greece
Hungary
Iceland
Ireland
Luxembourg
Malta
San Marino
Singapore
Slovakia
Slovenia
South Korea
Spain
Sweden
Switzerland
Taiwan
United Kingdom

In [88]:
#break-while
count=0
while count<len(countries):
    print(countries[count])
    if countries[count]=='Austria':
        break
    count+=1 #count=count+1
count

Andorra
Australia
Austria

2

In [89]:
i=0
while i<5:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5

## User defined functions:
### you can create your own functions
1. function that can print values
2. function that can return values

In [90]:
# #syntax to create:
# def function_name(parameters):
#     statement1
#     statement2
# #def is the keyword

# #syntax to call the function:
# function_name(arguments)

In [91]:
# 1. function that can print:
def greetMe(x):
    print("Welcome to the course,",x,'!')

In [92]:
greetMe('Harry')

Welcome to the course, Harry !

In [93]:
#2. function that can return values:
def myAdd(num1,num2):
    return num1+num2

In [94]:
myAdd(3,4)

7

In [96]:
result=myAdd('Michael','Garcia')

In [97]:
result[0:7]+' '+result[7:]

'Michael Garcia'