# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

In [1]:
#to execute a cell press play button or Shift+Enter
#insert cell above- A
#insert cell below - B
#delete a cell - DD

#insert an image
![image](python.png)

In [2]:
# Comment - describing a syntax, it is not executed

## Identifiers: Names given to variables/functions/classes
- identifiers should start with a letter [A-Z] or an underscore
- it may or may not be followed by 1 or more combination of letters, underscore or digits [0-9]
- it may not include any special character
- reserved words can not be used (class, for, if, else, break,..)
- built-ins should not be used (print, len,...)
- Case-sensitive.

In [3]:
# Built-in functions - ctrl+? to comment more lines ot text

In [4]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [5]:
?abs

## Data Types:
- integer;
- float;
- boolean;
- strings.

#### Python Strings

In [6]:

message='This is the first session!'
print(message)

This is the first session!

In [7]:
message2='You can't rise abobe by pulling others down!'

SyntaxError: invalid syntax (3490563748.py, line 1)

In [8]:
message2='You can\'t rise abobe by pulling others down!'
print(message2)

You can't rise abobe by pulling others down!

In [9]:
message2="You can't rise abobe by pulling others down!"
print(message2)

You can't rise abobe by pulling others down!

In [10]:
# one line-one statement
“Define the problem, collect the data
And you'll discover insights later.
Extract, transform, load, and clean
Visualize on your big screen.”

SyntaxError: invalid character '“' (U+201C) (1072160907.py, line 2)

In [11]:
print("Define the problem, collect the data\nAnd you'll discover insights later.\nExtract, transform, load, and clean\nVisualize on your big screen.")

Define the problem, collect the data
And you'll discover insights later.
Extract, transform, load, and clean
Visualize on your big screen.

In [12]:
print("Define the problem, collect the data\
And you'll discover insights later.\
Extract, transform, load, and clean\
Visualize on your big screen.")

Define the problem, collect the dataAnd you'll discover insights later.Extract, transform, load, and cleanVisualize on your big screen.

In [13]:
# use triple quotes or triple double quotes
print('''Define the problem, collect the data
And you'll discover insights later
Extract, transform, load, and clean
Visualize on your big screen.''')

Define the problem, collect the data
And you'll discover insights later
Extract, transform, load, and clean
Visualize on your big screen.

In [14]:
print(dir(__builtin__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [15]:
print(dir(message))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
#dot operator
message.upper()

'THIS IS THE FIRST SESSION!'

In [17]:
# use tab
message.find('h')

1

#### Numbers
- integers
- float

In [18]:
x=50
y=45.90

In [19]:
type(x)

int

In [20]:
type(y)

float

In [21]:
type(message)

str

In [22]:
print(type(x))
print(type(y))
print(type(message))

<class 'int'>
<class 'float'>
<class 'str'>

#### Boolean

In [23]:
a=True
b=False

In [24]:
print(type(a))

<class 'bool'>

#### Type conversion

In [25]:
#convert to string
ex1=25
ex2=35.67
ex3=True

In [26]:
print(ex1,':',type(ex1),'String Conversion',str(ex1),':',type(str(ex1)))

25 : <class 'int'> String Conversion 25 : <class 'str'>

In [27]:
str(ex2)

'35.67'

In [28]:
print(ex2,':',type(ex2),'After the conversion',str(ex2),':',type(str(ex2)))

35.67 : <class 'float'> After the conversion 35.67 : <class 'str'>

In [29]:
print(ex3,':',type(ex3),'After the conversion',str(ex3),':',type(str(ex3)))

True : <class 'bool'> After the conversion True : <class 'str'>

In [30]:
ex_conv=str(ex2)

In [31]:
ex_conv

'35.67'

In [32]:
#Conversion between integer and float
ex4=78
float(78)

78.0

In [33]:
ex5=77.999

In [34]:
int(ex5)

77

In [35]:
#Conversion to boolean
ex6=0
ex7=34
ex8=-78
ex9=''
ex10=' '
ex11='False'
ex12=0.000000000001

In [36]:
print(ex6,'-->',bool(ex6))
print(ex7,'-->',bool(ex7))
print(ex8,'-->',bool(ex8))
print(ex9,'-->',bool(ex9))
print(ex10,'-->',bool(ex10))
print(ex11,'-->',bool(ex11))
print(ex12,'-->',bool(ex12))

0 --> False
34 --> True
-78 --> True
 --> False
  --> True
False --> True
1e-12 --> True

In [37]:
#Conversion from string to int or float
s1='23'
s2='50'
s3='-50'
s4='45 76'
s5='98.77'
s6='6798 s'

In [38]:
#convert to int
print(s1,'-->',int(s1))
print(s2,'-->',int(s2))
print(s3,'-->',int(s3))

23 --> 23
50 --> 50
-50 --> -50

In [39]:
print(int(s6))

ValueError: invalid literal for int() with base 10: '6798 s'

In [45]:
#convert to float

In [46]:
print(s1,'-->',float(s1))
print(s2,'-->',float(s2))
print(s3,'-->',float(s3))

23 --> 23.0
50 --> 50.0
-50 --> -50.0

In [47]:
print(s6,'-->',float(s6))

ValueError: could not convert string to float: '6798 s'

In [48]:
ex_conv=float(s2)

In [49]:
type(ex_conv)

float

In [50]:
int(True)

1

In [51]:
float(False)

0.0

In [52]:
str(False)

'False'

In [53]:
float(True)

1.0

### Operators

# Arithmetic Operators
1. +-/*
2. % modulus-remainder
3. // integer divide - quotient
4. ** exponent

# Relational Operators
1. ==   !=
2. >    >=
3. <    <=

# Membership Operators
1. in
2. not in

# Logical Operators
1. AND
2. OR
3. NOT
4. & - bitwise and
5. | - bitwise or
6. ~ - bitwise not

#### Data Structures

In [54]:
#Data Structures: Sets|Lists|Tuples|Dictionaries

- SET

In [55]:
# Sets: unordered collections of unique data elements
# Set's can't contain mutable objects, but they are mutable

In [56]:
empty_set=set()
basket = {'apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 
 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam'}
mix = {23, 98.66, True, 'string', 23, 87, True}

In [57]:
print('Empty set:',empty_set,'Length of the set:',len(empty_set))

Empty set: set() Length of the set: 0

In [58]:
print('Empty set:{} Length of the set:{}'.format(empty_set,len(empty_set)))

Empty set:set() Length of the set:0

In [59]:
print('Basket set:{} Length of the set:{}'.format(basket,len(basket)))

Basket set:{'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'} Length of the set:14

In [60]:
print('Mix set:{} Length of the set:{}'.format(mix,len(mix)))

Mix set:{True, 98.66, 87, 23, 'string'} Length of the set:5

In [61]:
print('I have',100,'book')

I have 100 book

In [62]:
'I have {1} books.They are all {1}.'.format(100,'GREAT')

'I have GREAT books.They are all GREAT.'

In [63]:
#Add an element
print(basket)

{'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}

In [64]:
print('Before add\n {} \nLength of the set {}\n'.format(basket,len(basket)))
basket.add('jam')
print('After add\n {} \nLength of the set {}\n'.format(basket,len(basket)))

Before add
 {'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 14

After add
 {'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 14

In [65]:
print('Before add\n {} \nLength of the set {}\n'.format(basket,len(basket)))
basket.add('lemons')
print('After add\n {} \nLength of the set {}\n'.format(basket,len(basket)))

Before add
 {'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 14

After add
 {'bread', 'cheese', 'grapes', 'lemons', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 15

In [66]:
#remove
print('Before remove\n {} \nLength of the set {}\n'.format(basket,len(basket)))
basket.remove('lemons')
print('After remove\n {} \nLength of the set {}\n'.format(basket,len(basket)))

Before remove
 {'bread', 'cheese', 'grapes', 'lemons', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 15

After remove
 {'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 14

In [67]:
#using pop
print('Before pop\n {} \nLength of the set {}\n'.format(basket,len(basket)))
print('Element popped',basket.pop(),'\n')
print('After pop\n {} \nLength of the set {}\n'.format(basket,len(basket)))

Before pop
 {'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 14

Element popped bread

After pop
 {'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'butter', 'cream', 'almonds', 'curd'}
Length of the set 13

In [68]:
basket_1 = {'apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese'}
basket_2={'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam'}

In [69]:
#union: combining elements of the two sets
print('Union of basket1 & basket2\n',basket_1.union(basket_2))

Union of basket1 & basket2
 {'butter', 'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'cream', 'almonds', 'curd'}

In [71]:
#intersection: common elements in the sets
print('Intersection of basket1 & basket2\n',basket_1.intersection(basket_2))

Intersection of basket1 & basket2
 {'jam', 'apples', 'milk', 'coconut'}

In [72]:
#difference: uncommon
#all elements in basket 1 which are absent in basket 2
basket_1.difference(basket_2)

{'cheese', 'cream', 'curd', 'eggs', 'mayo'}

In [73]:
#all elements in basket 2 which are absent in basket 1
basket_2.difference(basket_1)

{'almonds', 'bread', 'butter', 'grapes', 'oranges'}

In [74]:
#all elements except common elements
print(basket_1.symmetric_difference(basket_2))

{'bread', 'cheese', 'grapes', 'eggs', 'mayo', 'oranges', 'almonds', 'butter', 'cream', 'curd'}

In [75]:
print(basket_1)
print(basket_2)

{'cheese', 'apples', 'mayo', 'milk', 'jam', 'coconut', 'eggs', 'cream', 'curd'}
{'bread', 'grapes', 'apples', 'oranges', 'milk', 'almonds', 'coconut', 'jam', 'butter'}

In [76]:
s1={1,2,3,4,6}
s2={1,3,4,5,6}

In [77]:
print(s1)
print(s2)

{1, 2, 3, 4, 6}
{1, 3, 4, 5, 6}

In [78]:
print(s1.symmetric_difference(s2))

{2, 5}

In [79]:
#update - add multiple elements at a time
basket_1.update(basket_2)
print(basket_1)

{'butter', 'bread', 'cheese', 'grapes', 'apples', 'mayo', 'oranges', 'milk', 'jam', 'coconut', 'eggs', 'cream', 'almonds', 'curd'}

In [80]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

- List

In [81]:
# Lists are ordered collection of data
empty_list=list() # []
x=list('abc')
x2=['a','b','c']

In [82]:
x

['a', 'b', 'c']

In [83]:
x2

['a', 'b', 'c']

In [84]:
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 
 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']

In [85]:
alist=[1,'a',2,'b',3,'c',4,'d',5,'e',6,'f']

In [86]:
mix_list=[['emma',23],45,{'grapes','lemons','apples','apples'}]

In [87]:
print('Empty list: {} Length of the list: {}'.format(empty_list,len(empty_list)))
print('Basket list:\n {} \nLength of the list: {}'.format(basket_list,len(basket_list)))
print('alist:\n {} \nLength of the list: {}'.format(alist,len(alist)))
print('Mix list:\n {} \nLength of the list: {}'.format(mix_list,len(mix_list)))

Empty list: [] Length of the list: 0
Basket list:
 ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
Length of the list: 18
alist:
 [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']
Length of the list: 12
Mix list:
 [['emma', 23], 45, {'lemons', 'apples', 'grapes'}]
Length of the list: 3

In [88]:
#indices  0    1   2   3   4    5  6   7   8   9
new_list=['a','b','c','d','e','f','g','h','i','j']
#negative -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [89]:
len(new_list)

10

In [90]:
print('First element:',new_list[0])
print('Second element:',new_list[1])
print('Third element:',new_list[2])

First element: a
Second element: b
Third element: c

In [91]:
print('Last Element:',new_list[-1])
print('Second Last Element:',new_list[-2])
print('Third Last Element:',new_list[-3])

Last Element: j
Second Last Element: i
Third Last Element: h

#### Slicing - colon operator
- start index:stop index:step
- stop is always excluded

In [92]:
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [93]:
new_list[2:6] #starts at 2 and stop at 5 inclusive

['c', 'd', 'e', 'f']

In [94]:
#if start is not mentioned default is 0
#if stop is not mentioned default is : len(list)

In [95]:
new_list[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [96]:
new_list[2:]

['c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [97]:
new_list[:5]

['a', 'b', 'c', 'd', 'e']

In [98]:
new_list[-1]

'j'

In [99]:
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [100]:
new_list[2:5]

['c', 'd', 'e']

In [101]:
new_list[:5]

['a', 'b', 'c', 'd', 'e']

In [102]:
new_list[1:]

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [103]:
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [104]:
new_list[0:10:2] #- Start:stop:step

['a', 'c', 'e', 'g', 'i']

In [105]:
# first element=new_list[start]
# second element=new_list[start+step]
# third element=new_list[second+step]

#0,
#0+2=2,
#2+2=4,
#4+2=6,
#6+2=8

In [106]:
new_list[::2]

['a', 'c', 'e', 'g', 'i']

In [108]:
#reversing the list
new_list[::-1]

['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [110]:
# ## if step is positive 1,2,3,...
# - start index should be on the left of stop index
# - start<stop
new_list[2:9:3]
new_list[-9:-2:3]

['b', 'e', 'h']

In [112]:
# if the step is negative -1,-2,-3,...
# - start index should be on the right of stop index
# - start>stop
new_list[9:2:-3]
new_list[-2:-9:-3]

['i', 'f', 'c']

In [113]:
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [114]:
new_list[9:2:-1]

['j', 'i', 'h', 'g', 'f', 'e', 'd']

In [115]:
print(dir(basket_list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [116]:
#adding elements
# 1. append - adds one element at the end of the list
# 2. extend - adds multiple elements at the end of the list
# 3. insert - adds one element at a given position

In [117]:
alist

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']

In [118]:
#append
print('Before append \n{}'.format(alist))
alist.append(7)
print('After append \n {}'.format(alist))

Before append
[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']
After append
 [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7]

In [119]:
alist

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7]

In [120]:
#append
print('Before append \n{}'.format(alist))
alist.append([7,'g'])
print('After append \n {}'.format(alist))

Before append
[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7]
After append
 [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g']]

In [121]:
#extend
print('Before extend \n{}'.format(alist))
alist.extend([7,'g'])
print('After extend \n {}'.format(alist))

Before extend
[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g']]
After extend
 [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g'], 7, 'g']

In [122]:
#insert
print('Before insert \n{}'.format(alist))
alist.insert(3,'text')
print('After insert \n {}'.format(alist))

Before insert
[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g'], 7, 'g']
After insert
 [1, 'a', 2, 'text', 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g'], 7, 'g']

In [123]:
alist[3:5]=['t','o']

In [124]:
alist

[1, 'a', 2, 't', 'o', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g'], 7, 'g']

In [125]:
a=[0,1,2,3]
a[4:5]=['t','o']

In [126]:
a

[0, 1, 2, 3, 't', 'o']

In [127]:
# Removing elements
# 1. remove: removing the first occurrence of the given element (one element at a time)
# 2. pop: pops out the element at a particular position
print(basket_list)

['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [128]:
#remove
print('Before remove jam:\n{}'.format(basket_list))
basket_list.remove('jam')
print('After remove jam:\n{}'.format(basket_list))

Before remove jam:
['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
After remove jam:
['apples', 'milk', 'eggs', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [129]:
basket_list.count('coconut')

2

In [130]:
#pop
print('Before pop pos=4\n{}'.format(basket_list))
basket_list.pop(4)
print('After pop pos=4:\n{}'.format(basket_list))

Before pop pos=4
['apples', 'milk', 'eggs', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
After pop pos=4:
['apples', 'milk', 'eggs', 'curd', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [131]:
print(basket_list)

['apples', 'milk', 'eggs', 'curd', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [132]:
#how to find out the location of an element
# - index: giving you the index for the first occurrence
basket_list.index('coconut') # first occurrence

12

In [133]:
print(basket_list)

['apples', 'milk', 'eggs', 'curd', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [134]:
basket_list.index('milk',5) # true position of first occurence of the element if occuring after the 5th index

7

In [135]:
print(basket_list)

['apples', 'milk', 'eggs', 'curd', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [136]:
basket_list.index('mayo',2,6) #2 -start index position; 6 - stop index position

5

In [137]:
example_list = [23, 47, 21, 32, 23, 32, 67, 21, 67, 89, 90, 47, 23, 67, 54, 23]

In [138]:
example_list.count(23)

4

In [139]:
example_list.index(23) #very first occurrence

0

In [141]:
example_list.index(23,5)

12

In [142]:
example_list.index(23,3,9)

4

In [143]:
print(alist)

[1, 'a', 2, 't', 'o', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g'], 7, 'g']

In [144]:
#reverse: reverses the list
print('Before reverse \n{}'.format(alist))
alist.reverse()
print('After reverse\n{}'.format(alist))

Before reverse
[1, 'a', 2, 't', 'o', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, [7, 'g'], 7, 'g']
After reverse
['g', 7, [7, 'g'], 7, 'f', 6, 'e', 5, 'd', 4, 'c', 3, 'o', 't', 2, 'a', 1]

In [145]:
#sort : sorts the list in ascending order or desc, by default in asc
# - the list should be homogeneous and constiting of either numbers or strings
#asc order
print('Before sort \n{}'.format(basket_list))
basket_list.sort()
print('After sort\n{}'.format(basket_list))

Before sort
['apples', 'milk', 'eggs', 'curd', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
After sort
['almonds', 'apples', 'apples', 'bread', 'butter', 'cheese', 'coconut', 'cream', 'curd', 'eggs', 'grapes', 'jam', 'mayo', 'milk', 'milk', 'oranges']

In [146]:
#desc order
print('Before sort \n{}'.format(basket_list))
basket_list.sort(reverse=True)
print('After sort\n{}'.format(basket_list))

Before sort
['almonds', 'apples', 'apples', 'bread', 'butter', 'cheese', 'coconut', 'cream', 'curd', 'eggs', 'grapes', 'jam', 'mayo', 'milk', 'milk', 'oranges']
After sort
['oranges', 'milk', 'milk', 'mayo', 'jam', 'grapes', 'eggs', 'curd', 'cream', 'coconut', 'cheese', 'butter', 'bread', 'apples', 'apples', 'almonds']

In [147]:
l1 = [34, 54.88, 12, True, False, False, -45, -90.11]

In [150]:
print('Before sort \n{}'.format(l1))
l1.sort(reverse=True)
print('After sort\n{}'.format(l1))

Before sort
[54.88, 34, 12, True, False, False, -45, -90.11]
After sort
[54.88, 34, 12, True, False, False, -45, -90.11]

In [151]:
#copy
l2=['apples','oranges','grapes',10,20,30]

In [152]:
#shallow copy - reference
l2_copy=l2

In [153]:
print(l2_copy)
print(l2)

['apples', 'oranges', 'grapes', 10, 20, 30]
['apples', 'oranges', 'grapes', 10, 20, 30]

In [154]:
l2_copy[2]='pear'

In [155]:
#deep copy - actual copy
l2_deep_copy=l2.copy()

In [156]:
l2_deep_copy[2]='grapes'

In [157]:
print(l2_deep_copy)
print(l2)

['apples', 'oranges', 'grapes', 10, 20, 30]
['apples', 'oranges', 'pear', 10, 20, 30]

In [158]:
#use of arith operators
list_1=[23,45,78]
list_2=['a','b','c']

In [159]:
new=list_1+list_2

In [160]:
new

[23, 45, 78, 'a', 'b', 'c']

In [161]:
list_1*3 #repetition

[23, 45, 78, 23, 45, 78, 23, 45, 78]

- Tuples

In [162]:
# - ordered, immutable collection of data

In [163]:
empty_tuple=() #tuple()
tup_1=(2,)
tup_11=(23,)
basket_tup = ('oranges', 'milk', 'milk', 'mayo', 'jam', 'jam', 'grapes', 'eggs', 'curd', 'cream', 
'coconut', 'coconut', 'cheese', 'butter', 'bread', 'apples', 'apples', 'almonds')
mix_tup = (['emma', 23], 45, {'oranges', 'apples', 'grapes'},(34,67))

In [164]:
print('Empty tuple: {} class of the tuple: {}'.format(empty_tuple,type(empty_tuple)))
print('Tup_1:\n {} \nclass of the tuple: {}'.format(tup_1,type(tup_1)))
print('Tup 11:\n {} \nclass of the tuple: {}'.format(tup_11,type(tup_11)))
print('Mix tup:\n {} \nclass: {}'.format(mix_tup,type(mix_tup)))

Empty tuple: () class of the tuple: <class 'tuple'>
Tup_1:
 (2,)
class of the tuple: <class 'tuple'>
Tup 11:
 (23,)
class of the tuple: <class 'tuple'>
Mix tup:
 (['emma', 23], 45, {'oranges', 'apples', 'grapes'}, (34, 67))
class: <class 'tuple'>